
.App input, .App buttob {
  margin: 60px 60px;
  width: 150px;
  height: 20px;
  border: 2px, solid, #408000;
  background-color: #fff7e6;
  transition: .3s;
}
.App button {
  cursor: pointer;
  width: 150px;
  height: 20px;

}
.App button:hover {
  background-color: #408000;
  color: white;
  border-color: black;

}

.result {
  margin-left: 60px;
  font-family: sans-serif;
}

.res {
  padding-bottom: 20px;
}
